# Django #
*.log
*.pot
*.pyc
__pycache__/
media/
staticfiles/
.env

# If you are using virtual environments
venv/
.env/
env/

# For MacOS specific files
.DS_Store

# For IDE specific files
.vscode/
.idea/

# For testing or coverage reports
coverage/
*.cover
.pytest_cache/
.coverage
